<!DOCTYPE html>
<html lang="en">
<head>
    <title>Show Your Bucket!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!--  css-->
    <link rel="stylesheet" href="static/css/login.css" />
    <!--  js-->
    <script src="../static/js/login.js"></script>

</head>
<body>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">로그인</h4>
            <div class="mb-3">
                <label for="loginId">아이디</label>
                <div>
                    <input type="text" class="form-control" placeholder="아이디를 입력해주세요." aria-label="Username"
                           aria-describedby="basic-addon1" id="loginId">
                </div>
            </div>

            <div class="mb-3">
                <label for="loginPw">비밀번호<span class="text-muted"></label>
                <input type="password" class="form-control" placeholder="비밀번호를 입력해주세요." aria-label="Username"
                       aria-describedby="basic-addon1" id="loginPw">
            </div>
            <hr class="mb-4">
            <div class="buttons">
                <button type="button" class="btn btn-outline-secondary signUp" onclick="location.href='/register'">회원가입</button>
                <button type="button" class="btn btn-outline-secondary loginBtn" onclick="loginClick()">로그인</button>
            </div>
        </div>
    </div>
    <footer class="my-3 text-center text-small">
        <p class="mb-1">&copy; 항해99 12기 7조</p>
    </footer>
</div>
</body>
</html>